Cython
numpy
argparse
dill
fire
matplotlib
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
opencv-python
common
pyx
dm-sonnet
keras
pandas
git+https://github.com/ppwwyyxx/tensorpack.git